__pycache__/
*.pyc

rasp_camera/Camera_V1/build
rasp_camera/Camera_V1/install
rasp_camera/Camera_V1/log

rasp_camera/tipper/build
rasp_camera/tipper/install
rasp_camera/tipper/log

motor_control/Motion_V1/ros_ws/build
motor_control/Motion_V1/ros_ws/install
motor_control/Motion_V1/ros_ws/log

motor_control/Motion_V2/ros_ws/build
motor_control/Motion_V2/ros_ws/install
motor_control/Motion_V2/ros_ws/log

slam/build
slam/install
slam/log